.contact {
  /* margin: auto; */
  margin-top: auto;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  border-top-left-radius: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 2rem;
  gap: 12px;
}

.contact form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-width: 447px;
}

.single-line-input {
  box-sizing: border-box;
  height: 48px;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  font-family: 'Poppins-normal', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  outline: none;
  margin-top: 0.5rem;
}

.single-line-input::placeholder {
  font-family: 'Poppins-normal', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  transition: transform 1s;
}

.single-line-input:hover::placeholder {
  transform: translate(42px, 0);
}

.comment {
  box-sizing: border-box;
  height: 170px;
  border-radius: 8px;
  padding: 15px;
  font-family: 'Poppins-normal', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  outline: none;
}

.comment::placeholder {
  color: #b3bac5;
  font-family: 'Poppins-normal', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  transition: transform 1s;
}

.comment:hover::placeholder {
  transform: translate(42px, 0);
}

.Title {
  margin: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  align-self: unset;
  animation-name: scale-up-center;
  animation-duration: 4s;
}

@media screen and (min-width: 768px) {

  .contact {
    margin-left: auto;
    margin-right: auto;
    width: 92%;
  }

  .contact form {
    max-width: 900px;
  }
}