.contact {
  /* margin: auto; */
  margin-top: auto;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  border-top-left-radius: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 12px;
  animation: fadeInUp 2s backwards;
  background-color: #6e756c71;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  50% {
    transform: translateY(0);
    opacity: 1;
  }
}

.contact form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-width: 447px;
  padding-bottom: 7rem;
  padding-top: 2rem;
}

.single-line-input {
  box-sizing: border-box;
  height: 48px;
  padding: 15px;
  border: 1px solid #cfd8dc;
  font-family: 'Poppins-normal', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  outline: none;
  margin-top: 0.5rem;
  margin-left: 20px;
  margin-right: 20px;
}

.single-line-input::placeholder {
  font-family: 'Poppins-normal', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  transition: transform 1s;
}

.single-line-input:hover::placeholder {
  transform: translate(42px, 0);
}

.comment {
  box-sizing: border-box;
  height: 170px;
  padding: 15px;
  font-family: 'Poppins-normal', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  outline: none;
  margin-left: 20px;
  margin-right: 20px;
}

.comment::placeholder {
  color: #b3bac5;
  font-family: 'Poppins-normal', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  transition: transform 1s;
}

.comment:hover::placeholder {
  transform: translate(42px, 0);
}

.Title {
  margin: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  align-self: unset;
  animation-name: scale-up-center;
  animation-duration: 4s;
}

#btn2 {
  margin-left: 60px;
  margin-right: 60px;
}

@media screen and (min-width: 768px) {
  .contact {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .contact form {
    max-width: 900px;
    padding-bottom: 40vh;
  }

  #btn2 {
    font-size: 1.2rem;
    width: 30%;
  }
}
